.not_found_404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #131612;
}

.not_found_404 h1 {
    margin: 0;
    font-size: 200px;
    font-weight: 500;
    letter-spacing: 10px;
}

.not_found_404 p {
    font-size: 25px;
}

.back_home_link {
    color: #131612;
    padding: 20px;
    letter-spacing: 1px;
    transition-duration: 300ms;
}

.back_home_link:hover {
    color: #4C594A;
    transition-duration: 300ms;
}