.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 50px;
    width: 200px;
    border: black solid;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    font-size: 22px;
}

.link {
    text-decoration: none;
    color: #58662E;
}

.selected_route {
    border-bottom: #58662E solid;
}

.not_selected_route {
    border-bottom: none;
}